$card-width: 115px
$card-height: 170px

body
  font-family: 'Cairo', sans-serif
  background-color: #1b0e1b
  color: #FFF

.game
  max-width: 800px
  margin: 0 auto
.selected
  top: -10px
  /* outline: 10px solid rgba(255, 216, 5, .3) */
  box-shadow: 0 0 8px 8px rgba(255, 216, 5, .3)
//  z-index: 2

.card
  transform: scale(0.7)
  display: inline-block
  width: $card-width
  height: $card-height
  position: relative
  border-radius: 5px
  border: 1px solid #CCC
  margin-left: -75px
  &:first-child
    margin-left: 0
  .face
    background-image: url("../dist/images/cards.jpg")
    width: 100%
    height: 100%
    overflow: hidden
    &.suit-clubs
      background-position-y: 334px
    &.suit-diamonds
      background-position-y: 502px
    &.suit-hearts
      background-position-y: 168px
    &.rank-Two
      background-position-x: -115px
    &.rank-Three
      background-position-x: -225px
    &.rank-Four
      background-position-x: -340px
    &.rank-Five
      background-position-x: -455px
    &.rank-Six
      background-position-x: -570px
    &.rank-Seven
      background-position-x: -685px
    &.rank-Eight
      background-position-x: -800px
    &.rank-Nine
      background-position-x: -915px
    &.rank-Ten
      background-position-x: -1030px
    &.rank-Jack
      background-position-x: -1145px
    &.rank-Queen
      background-position-x: -1260px
    &.rank-King
      background-position-x: -1375px

.hidden-card-set
  .hidden-card
    transform: scale(0.7)
    display: inline-block
    width: $card-width
    height: $card-height
    background-image: url("../dist/images/back.jpg")
    background-size: cover
    background-position: center
    overflow: hidden
    border-radius: 5px
    margin-left: -100px
    &:first-child
      margin-left: 0

.left-panel
  transform-origin: center left
  transform: rotate(90deg) translateX(-100px)

.right-panel
  transform-origin: center left
  transform: rotate(270deg) translateY(600px)
