.newGame
  max-width: 400px
  margin: 20px auto
  background-color: #FFF
  padding: 10px 40px 40px
  border-radius: 10px
  color: #222
  h5
    background-color: green
    padding: 12px 24px
    color: #E2E2E2
  hr
    border: 0
    border-bottom: 1px solid #DDD
    margin: 25px 0
  .inlineFlag
    margin-left: 5px
    margin-bottom: -5px
  .toggle
    margin-left: 8px
    padding: 2px 4px
    cursor: pointer
    border-radius: 25px
  .selectedToggle
    background-color: green
    color: #E2E2E2
  .button_calltoaction
    margin-left: calc(50% - 32px)
    background-color: green
    border: 0
    padding: 8px 12px
    border-radius: 24px
    color: #E2E2E2
  .fieldValue
    float: right
