
.suggestedMove
  position: absolute
  padding: 20px
  background-color: #FFF
  color: #222
  max-width: calc(100% - 16px)
  border-radius: 5px
  a, a:visited
    color: #222

.close
  position: absolute
  top: 2px
  right: 8px

.suggestedHand
  position: relative
  height: 170px
  margin-top: 20px
