
.suggestedMove
  position: relative
  background-color: #FFF
  color: #222
  border-radius: 8px
  a, a:visited
    color: #FFF
  .title
    border-radius: 8px 8px 0 0
    background-color: #7376FF
  .body
    padding: 20px
    border-bottom: 1px solid #CCC
  .footer
    padding: 20px
    text-align: center
  .rules, a.rules
    background-color: #7376FF
    padding: 5px 20px
    border-radius: 18px
    color: #FFF
    text-decoration: none

.close
  position: absolute
  top: 2px
  right: 8px
  cursor: pointer
  color: #FFF
  font-size: 20px
  padding: 5px

.suggestedHand
  position: relative
  height: 170px
  margin-top: 20px
