<!doctype html>
<html>
  <head>
    <title>The Pu is Silent</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> 
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="Play Pickering rules or classic Pusoy Dos against your friends or the computer. Play cards in your browser for free!">
  </head>
  <body>

    <form name="feedback" netlify netlify-honeypot="bot-field" hidden>
        <input type="text" name="name" />
        <input type="email" name="email" />
        <textarea name="message"></textarea>
    </form>

    <div style="max-width: 800px; margin: 0 auto">
        <div id="container">
            <h1>soydos.com</h1>
            <h1>Loading...</h1>
        </div>
    </div>
    <script>
        var pd_build = "<%= commit_ref %>";
        var clientId = "<%= client_id %>";
        var api_root = "<%= api_root %>";
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-<%= ga %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-<%= ga %>');
    </script>
  </body>
</html>
