.game
  display: flex
  flex-direction: column
  height: 100vh

.table
  display: grid
  grid-template-areas: "cpu2 cpu2 cpu2" "cpu1 table cpu3" ".... action ...." "player player player"
  grid-template-rows: 10vw 1fr 10vh 200px
  grid-template-columns: 10vw 1fr 10vw
  height: 100%
  position: relative
  overflow: hidden

.player
  grid-area: player
  display: flex
  justify-content: center
  align-self: end

#cpu1
  grid-area: cpu1
  justify-self: end
  align-self: center

#cpu2
  grid-area: cpu2
  justify-self: center
  align-self: end

#cpu3
  grid-area: cpu3
  justify-self: start
  align-self: center

.moves
  grid-area: table
  justify-self: center
  align-self: center
  height: var(--card-height)
  position: relative
  transition: transform 0.25s

.action
  grid-area: action
  justify-self: center

.turn
  box-shadow: 0 0 15px 10px rgba(200, 200, 200, 0.3)

.splashscreen
  margin-bottom: 24px


.help
  position: absolute
  right: 10px
  bottom: 20px
  background-color: #FFF
  border-radius: 50%
  border: 1px solid #888
  z-index: 100
  cursor: pointer
  color: #222
  padding: 4px
  box-shadow: 0 0 5px 2px rgba(120, 10, 75, 0.6)

.gameSummary
  background-color: #FFF
  color: #222
  padding: 5px
  border-radius: 5px
  padding-bottom: 20px
  .button_calltoaction
    margin-left: calc(50% - 32px)
    background-color: green
    border: 0
    padding: 8px 12px
    border-radius: 24px
    color: #E2E2E2

